/*
Colour scheme is loosely based on the landing UI from the Nostromo spacecraft in Alien!
*/

/* Define variables */
* {
	--bg-color: #141e22;
	--line-color: #1a3e49;
	--text-color: #a4fbff;

	--interactive-color: #318dad;
	--checkbox-color: #3f9bbc;
}

/* Colours and fonts */
html {
	background: var(--bg-color);
	font-family: "Acumin Variable", "Acumin Variable Concept", Helvetica, sans-serif;
}

h1,
p,
li {
	color: var(--text-color);
}

hr {
	border-color: var(--line-color);
	margin: 0.5rem 0;
}

/* Page layout styling */
body {
	margin: 0;
	width: fit-content;
	border: 2px solid var(--line-color);
}

h1 {
	font-size: 16pt;
	font-weight: 900;
	letter-spacing: 0.05em;
	line-height: 1;
	margin: 0.5rem;
	margin-top: 0.8rem;
	text-align: center;
}

p, li, input {
	font-size: 12pt !important;
}

.add-task-form {
	display: flex;
	flex-flow: row nowrap;
	gap: 0.5rem;
	margin: 0 0.5rem;
}
.add-task-form input[type=text] {
	flex-grow: 1;
}

/* List styles */
ul {
	padding-left: 0;
}

li {
	list-style-type: none;
	margin: 0.5rem;
	width: 100%;
}

/* Checkboxes */
input[type="checkbox"],
input[type="checkbox"]+label {
	cursor: pointer;
}

input[type="checkbox"]:checked {
	accent-color: var(--checkbox-color);
}

input[type="checkbox"]:checked+label {
	text-decoration: line-through;
	color: var(--interactive-color);
	opacity: 60%;
}

/* Other input fields */
input[type="submit"],
input[type="button"],
input[type="text"] {
	border: 1px solid var(--interactive-color);
	border-radius: 4px;
}

input[type="text"] {
	padding: 4px;
	background-color: transparent;
	color: var(--text-color);
}

input[type="submit"],
input[type="button"] {
	font-weight: 600;
	background-color: var(--interactive-color);
}

input[type="submit"]:active,
input[type="button"]:active {
	background-color: var(--text-color);
}


/* Mobile layouts */
@media (max-width:800px) {
	html, body {
		width: 100%;
		height: 100%;
		margin: 0;
		box-sizing: border-box;
		overflow-x: hidden;
	}
}