<!doctype html>
<html>

<head>
    <title>Burrow tasks</title>
    <meta
        name="viewport"
        content="width=device-width, initial-scale=1, user-scalable=yes"
    >
    <style>
        input[type=checkbox],
        input[type=checkbox]+label {
            cursor: pointer;
        }

        input[type=checkbox]:checked+label {
            text-decoration: line-through;
            opacity: 50%;
        }

        ul {
            padding-left: 0;
        }

        li {
            list-style-type: none;
            margin-bottom: 0.5rem;
        }
    </style>
</head>

<body>
    <h1>Burrow tasks</h1>
    <hr />
    <form method="POST">
        <input
            type="text"
            name="description"
            autocomplete="off"
            placeholder=""
            required
        />
        <input
            type="submit"
            value="Add task"
        />
    </form>
    <hr />
    <ul> {% for task in data %} {% if task[3] == false %} <li>
            <input
                type="checkbox"
                id="task-{{task[0]}}"
                autocomplete="off"
                {% if task[2] %}checked{% endif %}
            />
            <label for="task-{{task[0]}}">{{task[1]}}</label>
        </li> {% endif %}{% endfor %} </ul>
    <hr />
    <script>
        const updateTask = (id, done = false) => {
            const url = "/update";
            const options = {
                method: "POST",
                headers: {
                    "Content-Type": "application/json"
                },
                body: JSON.stringify({
                    rowid: id,
                    done: done
                }),
            };
            fetch(url, options)
                .then((response) => response.text())
                .catch((error) => console.error("Error:", error));
        };

        document.querySelectorAll("input[type=checkbox]").forEach((checkbox) => {
            checkbox.addEventListener("input", (e) => {
                const elem = e.target;
                const rowid = parseInt(elem.id.split("-")[1]);
                updateTask(rowid, done = elem.checked);
            });
        });
    </script>
    <script>
        // This prevents the browser from asking to resend form data
        // It's a bit hacky but works perfectly fine for this project :)
        if (window.history.replaceState) {
            window.history.replaceState(null, null, window.location.href);
        }
    </script>
</body>

</html>