<!doctype html>
<html>

<head>
    <title>Burrow tasks</title>
    <meta
        name="viewport"
        content="width=device-width, initial-scale=1, user-scalable=yes"
    >
    <link
        rel="stylesheet"
        href="{{ url_for('static', filename='style.css') }}"
    >
</head>

<body>
    <h1>BURROW TASKS</h1>
    <hr />
    <form
        method="POST"
        class="add-task-form"
        action="add"
    >
        <input
            type="text"
            name="description"
            autocomplete="off"
            placeholder=""
            required
        />
        <input
            type="submit"
            value="ADD TASK"
        />
    </form>
    <hr />
    <ul> {% for task in data %} <li>
            <input
                type="checkbox"
                id="task-{{task[0]}}"
                autocomplete="off"
                {% if task[2] %}checked{% endif %}
            />
            <label for="task-{{task[0]}}">{{task[1]}}</label>
        </li> {% endfor %}
    {% if data|length == 0 %}<li id="no-tasks-found">No tasks found</li>{% endif %}
    </ul>
    <hr>
    <form
        method="POST"
        class="clean-up-form"
        action="clear"
    >
        <input
            type="submit"
            value="CLEAN UP"
            class="button-critical"
            {% if data|length == 0 %}disabled="disabled"{% endif %}
        >
        <input
            type="button"
            value="UNDO"
            disabled="disabled"
        >
    </form>
    <script src="{{ url_for('static', filename='burrow-tasks.js') }}"></script>
</body>

</html>